@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: hsl(0 0% 14.9%);
  }

  body {
    background-color: hsl(0 0% 3.9%);
    color: hsl(0 0% 98%);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
